aiofiles
aiohttp
aria2p
beautifulsoup4
cfscrape
cryptg
dnspython
emoji
googletrans
google_images_download
google_auth_oauthlib
gtts
hachoir
humanize
Pillow
psycopg2
pymongo
pylast
python-barcode
pySmartDL
python-magic
qrcode
regex
requests
selenium
speedtest-cli
sqlalchemy
python-dotenv
telegraph
urbandict
wikipedia
youtube-dl
google-api-python-client
oauth2client
gsearch
httplib2
pytube
PyGithub
