aiofiles
aiohttp
aria2p
beautifulsoup4==4.8.1
cfscrape
coffeehouse
covid
cryptg
DateTime
emoji
google-api-python-client==1.7.11
google_images_download==2.8.0
googletrans
gtts
hachoir
httplib2==0.15.0
lyricsgenius
oauth2client
Pillow
psycopg2
pylast
PyLyrics
pySmartDL
python-barcode
python-magic
qrcode
regex
requests
selenium
speedtest-cli
spotify_token
sqlalchemy
telegraph
urbandict
wikipedia
youtube-dl




