git+https://github.com/LonamiWebs/Telethon
aiofiles
aiohttp
asyncurban
beautifulsoup4
cairosvg
cfscrape
coffeehouse
colour
covid
cowpy
cryptg
csvfaker
DateTime
fontTools
python-dotenv
emoji
fonttools
geopy
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans==3.1.0a0
gsearch
gtts
hachoir
heroku3
html-telegraph-poster
humanize
jotquote
justwatch
kwot
lottie
lxml
lyricsgenius
nekos.py
patool
Pillow
prettytable
programmingquotes
psutil
psycopg2
PyDictionary
pyfiglet
PyGithub
pylast
PyLyrics
pymediainfo
pySmartDL
python-barcode
pytuneteller
pytz
qrcode
regex
requests
search-engine-parser
selenium
spamwatch
speedtest-cli
sqlalchemy
telegraph
tswift
validators
vcsi
wand
wikipedia
youtube_dl > 2020.11.12
