telethon
aiofiles
aiohttp
aria2p
asyncurban
beautifulsoup4
cfscrape
coffeehouse
covid
cowpy
cryptg
csvfaker
DateTime
python-dotenv
emoji
geopy
gitpython
google-api-python-client==1.7.11
google_images_download==2.8.0
googletrans
gsearch
gtts
hachoir
heroku3
httplib2<0.16.0
humanize
jotquote
justwatch
kwot
lxml
lyricsgenius
nekos.py
oauth2client
patool
Pillow
programmingquotes
psutil
psycopg2
pybase64
pyDownload
pyfiglet
PyGithub
pylast
PyLyrics
pySmartDL
python-barcode
python-magic
pytube>=9.5.1
pytuneteller
pytz
qrcode
regex
requests
search-engine-parser
selenium
speedtest-cli
spotify_token
sqlalchemy
telegraph
tswift
urbandict
validators
wikipedia
youtube-dl
