Pillow
PyGithub
PyPDF2
aiofiles
aiohttp
aioschedule
apscheduler
aria2p
beautifulsoup4==4.8.1
cfscrape
coffeehouse
covid
cowpy
cryptg
csvfaker
dadjokes-cli
emoji
fast.com
feedparser
git+https://github.com/LonamiWebs/Telethon
git+https://github.com/ahupp/python-magic
gitpython
google-api-python-client
google_auth_oauthlib
google_images_download
googletrans
gsearch>=1.6.0
gtts
hachoir
heroku3
httplib2==0.15.0
humanize
jotquote
kwot
lxml
names
oauth2client
passwordgenerator
patool
programmingquotes
psycopg2
pySmartDL
python-magic
pytuneteller
qrcode
random_cli
regex
requests
spamwatch
speedtest-cli
spotify_token
sqlalchemy
telegraph
urbandict
wikipedia
youtube-dl
